{{>layout/header}}

<div class="w-50" style="margin: 0 auto">
    <h2>게시물 수정</h2>
</div>
<div class="col-md-12 w-50" style="margin: 0 auto;">
    {{#post}}
        <form>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{title}}">
            </div>
            {{^username}}
            <div class="form-group">
                <label for="title">글쓴이</label>
                <input type="text" class="form-control" id="author" value="{{author}}">
            </div>
            {{/username}}
            <div class="form-group">
                <label for="title">내용</label>
                <div>
                    <textarea style="border:1px solid #ced4da" id="content" class="w-100" rows="10" placeholder="내용">{{content}}</textarea>
                </div>
            </div>
             {{^username}}
                <div class="form-group">
                <label for="title">비밀번호</label>
                <input type="password" class="form-control"  id="password">
            </div>
             {{/username}}
            <input type="hidden" id="id" value="{{id}}">
            <button type="button" class="btn btn-primary" id="btn-modify">수정</button>
            <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
            <button class="btn btn-secondary">
                <a class="text-white" href="/bbs/">돌아가기</a>
            </button>
        </form>
    {{/post}}

</div>
{{>layout/footer}}