{{>layout/header}}

<div class="w-50" style="margin: 0 auto">
    <h2>게시물 등록</h2>
</div>
<div class="col-md-12 w-50" style="margin: 0 auto;">
    <form>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" placeholder="제목">
        </div>
        {{^username}}
            <div class="form-group">
                <label for="title">글쓴이</label>
                <input type="text" class="form-control" id="author" placeholder="글쓴이">
            </div>
        {{/username}}
        <div class="form-group">
            <label for="title">내용</label>
            <div>
                <textarea style="border:1px solid #ced4da" id="content" class="w-100" rows="10" placeholder="내용"></textarea>
            </div>
        </div>
        {{^username}}
            <div class="form-group">
                <label for="title">비밀번호</label>
                <input type="password" class="form-control" placeholder="비밀번호" id="password">
            </div>
        {{/username}}
        <button type="button" class="btn btn-primary" id="btn-write">등록</button>
        <button class="btn btn-block">
            <a href="/bbs/">돌아가기</a>
        </button>
    </form>

</div>
{{>layout/footer}}